.inputConteiner {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

.fileInput {
  display: none;
}

.inputLabel {
  background-color: white;
  color: black;
  padding: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
