* {
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  width: 100vw;
  height: 100vh;
}

/* Basic button styles */
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

/* Basic anchor styles */
a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Basic form input styles */
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
}

input[type="submit"] {
  background-color: #0077cc;
  color: white;
}

input[type="submit"]:hover {
  background-color: #005499;
}

/* Basic list styles */
ul {
  list-style-type: disc;
  margin: 0;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 0;
}
